.git/
/Acb.Plugin.PrivilegeManage/.vs/Acb.MicroService.Privilege/DesignTimeBuild/.dtbcache
/Acb.Plugin.PrivilegeManage/.vs
/Acb.Plugin.PrivilegeManage/Acb.Plugin.PrivilegeManage/bin/Debug/netstandard2.0
/Acb.Plugin.PrivilegeManage/Acb.Plugin.PrivilegeManage/obj
/Acb.Plugin.PrivilegeManage/PrivilegeManageTest
/handsome
/Acb.Plugin.PrivilegeManage/UnitTestPrivilegeManage
/Acb.Plugin.PrivilegeManage/packages
/Acb.Plugin.PrivilegeManage/Acb.Plugin.PrivilegeManage.Constract/obj
/Acb.Plugin.PrivilegeManage/Acb.Plugin.PrivilegeManage.Constract/bin
obj
/Acb.Plugin.PrivilegeManage/UnitTestPrivilegeManage2
/Acb.Plugin.PrivilegeManage/DynamicWeb.Ant.TestIn1/bin
/Acb.Plugin.PrivilegeManage/Acb.Plugin.PrivilegeManage/Doc/Acb.Plugin.PrivilegeManageConstract.xml
